---
- name: Configure GRUB to enable serial console on Debian/Ubuntu
  copy:
    src: grub.ubuntu
    dest: /etc/default/grub
    mode: '0644'
    owner: root
    group: root
    backup: no
  when: ansible_distribution == 'Ubuntu' or ansible_distribution == 'Debian'

- name: Regenerate GRUB configuration
  command: "/usr/sbin/grub-mkconfig -o /boot/grub/grub.cfg"
  when: ansible_distribution == 'Ubuntu' or ansible_distribution == 'Debian'

- name: Tweak Ubuntu netplan config
  copy:
    src: 01-netcfg.yaml.ubuntu
    dest: /etc/netplan/01-netcfg.yaml
    mode: '0644'
    owner: root
    group: root
    backup: no
  when: ansible_distribution == 'Ubuntu'

- name: Tweak Debian network config
  copy:
    src: interfaces.debian
    dest: /etc/network/interfaces
    mode: '0644'
    owner: root
    group: root
    backup: no
  when: ansible_distribution == 'Debian'

- name: Add local pub key to authorized_keys
  authorized_key:
    user: "{{ item }}"
    key: "{{ lookup('file', 'id_rsa.pub') }}"
    # key: "{{ lookup('file', lookup('env','HOME') + '/.ssh/id_rsa.pub') }}"
    state: present
  loop:
    - root
    - vagrant

- name: Tweak sshd_config
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: ".*UseDNS.*"
    line: "UseDNS no"

- name: Add python symlink
  file:
    src: "/usr/bin/python3"
    dest: "/usr/bin/python"
    state: link
    mode: 0777

#- name: Set apt repositories
#  apt_repository:
#    repo: "{{ item }}"
#    state: present
#    mode: 0644
#  loop: "{{ debian_repo }}"
#  tags:
#    - debianrepo
#  when: ansible_distribution == 'Debian'

- name: Upgrade base system
  apt:
    update_cache: yes
    upgrade: dist
  when: ansible_distribution == 'Debian'

- name: Upgrade backports linux-image-latest
  apt:
    name: linux-image-amd64
    state: latest # noqa 403
    default_release: buster-backports
    update_cache: yes
  when: ansible_distribution == 'Debian'

- name: Install common packages
  package:
    name: "{{ common_packages }}"
    state: present
    allow_unauthenticated: yes
    autoremove: yes
    force_apt_get: yes
    install_recommends: no

- name: Install Debian10 packages
  package:
    name: "{{ debian10 }}"
    state: present
    allow_unauthenticated: yes
    autoremove: yes
    force_apt_get: yes
    install_recommends: no

- name: Mask system services
  systemd:
    name: "{{ item }}"
    masked: yes
  loop:
    - "sleep.target"
    - "suspend.target"
    - "hibernate.target"
    - "hybrid-sleep.target"

- name: Change systemd logind conf (1/2)
  lineinfile:
    path: "/etc/systemd/logind.conf"
    regexp: '^#HandleLidSwitch=.*$'
    line: "HandleLidSwitch=ignore"
    mode: 0644

- name: Change systemd logind conf (2/2)
  lineinfile:
    path: "/etc/systemd/logind.conf"
    regexp: '^#HandleLidSwitchDocked=.*$'
    line: "HandleLidSwitchDocked=ignore"
    mode: 0644

- name: Change systemd sleep conf (1/2)
  lineinfile:
    path: "/etc/systemd/sleep.conf"
    regexp: '^#AllowSuspend=.*$'
    line: "AllowSuspend=no"
    mode: 0644

- name: Change systemd sleep conf (2/2)
  lineinfile:
    path: "/etc/systemd/sleep.conf"
    regexp: '^#AllowHibernation=.*$'
    line: "AllowHibernation=no"
    mode: 0644

- name: Set lxterminal autostart
  copy:
    src: "/usr/share/applications/lxterminal.desktop"
    dest: "/etc/xdg/autostart/lxterminal.desktop"
    mode: 0644
    remote_src: yes
  tags:
    - autostart

- name: Add the user 'vagrant' to sudo group
  user:
    name: vagrant
    shell: /bin/bash
    groups: sudo
    append: yes

- name: Make sure we have a 'wheel' group
  group:
    name: wheel
    state: present

- name: Allow 'wheel' group to have passwordless sudo
  lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: '^%wheel'
    line: '%wheel ALL=(ALL) NOPASSWD: ALL'
    validate: 'visudo -cf %s'

- name: Add sudoers users to wheel group
  user:
    name=vagrant
    groups=wheel
    append=yes
    state=present
    createhome=yes
